* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.link {
  text-decoration: none;
}

.layout {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0px 0px 12px 12px;
}
.layout_wrapper {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}
.layout_wrapper__back {
  position: relative;
  display: block;
  width: 97%;
  height: 10px;
  background: #CACADB;
  border-radius: 0px 0px 12px 12px;
}
.layout_wrapper__back::after {
  content: "";
  position: absolute;
  display: block;
  margin-left: 20px;
  width: 97%;
  height: 20px;
  background: #E7E7F2;
  border-radius: 0px 0px 12px 12px;
  z-index: -1;
}

.header-mobile_menu {
  display: none;
}

.header-hero {
  padding-top: 50px;
  position: relative;
}
.header-hero__symbol {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.bold {
  font-weight: 700;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_logo__tablet {
  display: none;
}
.header_logo__tablet__menu {
  display: none;
}
.header_menu {
  display: flex;
  flex-direction: column;
}
.header_menu__lang {
  display: inline-flex;
}
.header_menu__btn {
  display: inline-block;
  padding: 5px 7px;
  width: 33px;
  height: 25px;
  border: none;
  background-color: inherit;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 1px;
  color: #FFFFFF;
  cursor: pointer;
}
.header_menu__btn:hover {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}
.header_menu__btn:focus {
  background: #F0145A;
  border-radius: 8px;
}
.header_menu__btn:last-child {
  background: #F0145A;
  border-radius: 8px;
}
.header_menu__contacts {
  display: inline-flex;
}
.header_menu__link {
  display: inline-block;
  position: relative;
  margin-left: 18px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  color: #FFFFFF;
  text-decoration: none;
}
.header_menu__link::before {
  content: "";
  position: absolute;
  display: inline-block;
  top: 25%;
  left: -13px;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  background-color: #E6E6F0;
  border-radius: 50%;
}
.header_menu__link:hover {
  color: #F0145A;
}
.header_menu__svg {
  display: inline-block;
  margin-top: -5px;
  fill: #FFFFFF;
}
.header_menu__svg:hover {
  fill: #F0145A;
}
.header_menu__bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-decoration: none;
  position: relative;
  text-align: right;
  color: #FFFFFF;
}
.header_menu__bold::after {
  position: absolute;
  left: 0;
  bottom: -3px;
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
  opacity: 0;
  transition: all 0.2s ease-in;
}
.header_menu__bold:hover::after {
  opacity: 1;
}
.header_menu__bold:focus {
  color: #F0145A;
}
.header_menu__bold:focus::after {
  opacity: 1;
  background-color: #F0145A;
}
.header_menu__nav {
  display: flex;
  padding-top: 18px;
  justify-content: flex-end;
  gap: 15px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero_title {
  margin-top: 266px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 38px;
  line-height: 1.21;
  text-align: center;
  color: #FFFFFF;
}
.hero_button {
  margin-top: 305px;
  margin-bottom: 30px;
  position: relative;
  width: 42px;
  height: 42px;
  background-color: inherit;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  opacity: 0.5;
  cursor: pointer;
}
.hero_button::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 9px;
  width: 18px;
  height: 18px;
  border-right: 2px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  transform: rotate(45deg) scale(0.8);
  animation: animate 1s ease-in-out infinite;
}
@keyframes animate {
  0% {
    transform: translateY(0) rotate(45deg) scale(0.8);
  }
  100% {
    transform: translateY(3px) rotate(45deg) scale(0.9);
  }
}
.hero_button:hover::after {
  border-right: 2px solid #F0145A;
  border-bottom: 2px solid #F0145A;
}
.hero_button:hover {
  border: 2px solid #F0145A;
}
.hero_menu {
  padding: 60px 0;
  display: flex;
  justify-content: center;
}
.hero_menu__list {
  padding-right: 60px;
  margin-right: 60px;
  list-style: none;
  text-align: right;
  box-sizing: border-box;
  border-right: 4px solid rgba(255, 255, 255, 0.3);
}
.hero_menu__element {
  margin-bottom: 30px;
}
.hero_menu__element:first-child {
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.hero_menu__link {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 38px;
  line-height: 1.21;
  text-align: right;
  color: #B3B3BA;
  cursor: pointer;
  text-decoration: none;
}
.hero_menu__link:hover {
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.hero_menu__wrapper {
  margin-top: 30px;
  max-width: 580px;
  width: 100%;
}
.hero_menu__title {
  margin-bottom: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.23;
  color: #FFFFFF;
}
.hero_menu__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 1.57;
  color: #FFFFFF;
}

.main-link {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
  cursor: pointer;
  text-decoration: none;
}
.main-link::after {
  position: absolute;
  content: "";
  display: inline-block;
  margin-left: 5px;
  top: 25%;
  width: 6px;
  height: 6px;
  border-bottom: 2px solid #24A3FF;
  border-right: 2px solid #24A3FF;
  transform: rotate(-45deg);
}
.main-link:hover::after {
  border-bottom: 2px solid #F0145A;
  border-right: 2px solid #F0145A;
}
.main-link:hover {
  color: #F0145A;
}

.main-title {
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 38px;
  line-height: 1.21;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.services_wrapper {
  display: grid;
  padding-top: 60px;
  padding-bottom: 60px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px;
}
.services_card {
  max-width: 400px;
  width: 100%;
}
.services_card__title {
  margin-top: 30px;
  margin-bottom: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.22;
  color: #24A3FF;
}
.services_card__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  color: #FFFFFF;
}

.team {
  display: flex;
  background: #F5F5FA;
  border-radius: 12px;
}

.team_backgr {
  display: inline-block;
  max-width: 400px;
  width: 100%;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.team_backgr img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.team_wrapper {
  margin: 30px;
}
.team_text {
  margin-top: 30px;
  margin-bottom: 6px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: #B3B3BA;
}
.team_text__desc {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  color: #B3B3BA;
}
.team_slider {
  margin-top: 30px;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.partners_title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  color: #323264;
}
.partners_cards {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.partners_cards__img {
  width: 100%;
}

.publications {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  background-color: #F5F5FA;
}
.publications_wrapper {
  padding-bottom: 30px;
  display: flex;
  gap: 30px;
  border-bottom: 2px solid #E6E6F0;
}
.publications_card {
  margin-top: 30px;
  max-width: 420px;
  width: 100%;
  background-color: white;
  border-radius: 8px;
}
.publications_card__img {
  max-width: 420px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.publications_card__wrapper {
  padding: 0 30px 30px 30px;
  max-width: 360px;
  width: 100%;
}
.publications_title {
  margin-top: 30px;
  margin-bottom: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: #24A3FF;
}
.publications_title__desc {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #B3B3BA;
}
.publications_title__text {
  margin-top: 15px;
  padding-top: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  color: #000000;
  border-top: 4px solid #E6E6F0;
}

.footer-wrapper {
  background-color: #F5F5FA;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}
.footer_contacts {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer_contacts__list {
  display: flex;
  align-items: center;
  list-style: none;
}
.footer_link {
  margin-right: 26px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #323264;
}
.footer_link__bold {
  position: relative;
  margin-right: 26px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: #46466E;
}
.footer_link__bold::after {
  content: "";
  position: absolute;
  display: inline-block;
  right: -15%;
  top: 35%;
  width: 6px;
  height: 6px;
  background-color: #B3B3BA;
  border-radius: 50%;
}
.footer_link__bold::before {
  content: "";
  position: absolute;
  display: inline-block;
  left: -15%;
  top: 30%;
  width: 6px;
  height: 6px;
  background-color: #B3B3BA;
  border-radius: 50%;
}
.footer_link__mail {
  margin-right: 26px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: #24A3FF;
}
.footer_link__mail:hover {
  color: #F0145A;
}
.footer_ref {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
}
.footer_ref::before {
  content: "";
  position: absolute;
  display: inline-block;
  left: -25%;
  top: 20%;
  width: 6px;
  height: 6px;
  background-color: #B3B3BA;
  border-radius: 50%;
}
.footer_img__svg {
  display: inline-block;
  top: -15%;
  fill: #24A3FF;
}
.footer_img__svg:hover {
  fill: #F0145A;
}
.footer_copyright {
  justify-self: flex-end;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-align: right;
  color: #B3B3BA;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
}

.menu__btn {
  display: block;
  position: absolute;
  top: 20px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn__btn {
  display: block;
  top: 70px;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 18px;
  height: 2px;
  background-color: #fff;
  transition-duration: 0.25s;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  max-width: 375px;
  height: 70%;
  margin: 0;
  padding: 120px 0;
  list-style: none;
  background: #323264;
  border-radius: 12px;
  transition-duration: 0.25s;
}

.menu__item {
  display: block;
  margin-bottom: 15px;
  margin-left: 12px;
  padding: 7px 112px;
  background: #F5F5FA;
  border-radius: 12px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  color: #24A3FF;
  transition-duration: 0.25s;
}
.menu__item:hover {
  border-bottom: 0;
  color: #F0145A;
  background: #E6E6F0;
}

@media (min-width: 1700px) {
  .container {
    max-width: 1600px;
  }
  .partners {
    display: block;
    margin: 0 auto;
    max-width: 1720px;
    width: 100%;
  }
  .publications_card {
    max-width: 514px;
  }
  .publications_card__img {
    max-width: 514px;
  }
  .publications_card__wrapper {
    max-width: 450px;
  }
}
@media (max-width: 1430px) {
  .container {
    max-width: 1310px;
  }
}
@media (max-width: 1400px) {
  .container {
    max-width: 1280px;
  }
  .publications_card {
    max-width: 360px;
  }
  .publications_card__img {
    max-width: 360px;
  }
}
@media (max-width: 1300px) {
  .container {
    max-width: 1080px;
  }
  .publications_card {
    max-width: 300px;
  }
  .publications_card__img {
    max-width: 300px;
  }
}
@media (max-width: 1110px) {
  .layout_wrapper__back::after {
    width: 96%;
  }
  .container {
    max-width: 904px;
  }
  .hero_title {
    margin-top: 245px;
  }
  .hero_button {
    margin-top: 290px;
  }
  .hero_menu__wrapper {
    margin: 0;
    max-width: 405px;
  }
  .team_backgr {
    min-width: 400px;
    background-position: bottom;
  }
  .publications_card {
    max-width: 280px;
  }
  .publications_card__img {
    max-width: 280px;
  }
}
@media (max-width: 950px) {
  .header-hero__symbol {
    display: block;
    left: -63px;
    overflow: hidden;
  }
  .header-hero__symbol__img {
    width: 893px;
  }
  .container {
    max-width: 648px;
  }
  .header_logo {
    display: none;
  }
  .header_logo__tablet {
    display: inline-block;
    margin: 30px 0;
  }
  .header_menu__bold {
    margin-right: 15px;
  }
  .header_menu__nav {
    padding: 0;
    display: inline-block;
  }
  .hero_title {
    margin-top: 274px;
  }
  .hero_button {
    margin-top: 417px;
  }
  .hero_menu {
    display: block;
  }
  .hero_menu__list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    text-align: center;
    padding-right: 0;
    margin-right: 0;
    border-right: 0;
    border-bottom: 4px solid rgba(255, 255, 255, 0.3);
  }
  .hero_menu__list::-webkit-scrollbar {
    display: none;
  }
  .hero_menu__element {
    flex: 0 0 auto;
    margin-right: 30px;
  }
  .hero_menu__title {
    margin-top: 30px;
  }
  .services_wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .team {
    flex-direction: column;
  }
  .team_backgr {
    display: block;
    max-width: 648px;
    width: 100%;
    height: 500px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 0;
  }
  .partners_cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .publications_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
  .publications_card {
    max-width: 309px;
    width: 100%;
  }
  .publications_card__img {
    max-width: 309px;
    width: 100%;
  }
  .publications_card__big {
    margin-top: 0;
    max-width: 648px;
    width: 100%;
    grid-column: -3/-1;
    grid-row: 2/3;
  }
  .publications_card__big__img {
    max-width: 648px;
    width: 100%;
  }
  .publications_card__big__wrapper {
    max-width: 648px;
    width: 100%;
  }
  .footer {
    position: relative;
    flex-direction: column;
  }
  .footer_contacts__list li {
    display: inline;
  }
  .footer_link {
    display: inline;
  }
  .footer_copyright {
    position: absolute;
    align-self: flex-end;
    display: inline-block;
  }
}
@media (max-width: 630px) {
  .layout_wrapper__back {
    width: 92%;
  }
  .layout_wrapper__back::after {
    width: 89%;
  }
  .header-hero {
    padding-top: 0;
  }
  .header-hero .container {
    max-width: 630px;
  }
  .header-hero__symbol {
    display: flex;
    left: 0;
  }
  .header-hero__symbol__img {
    width: 524px;
  }
  .container {
    max-width: 315px;
  }
  .header {
    display: block;
  }
  .header_logo {
    display: none;
  }
  .header_logo__tablet {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 0;
    padding: 0 15px;
  }
  .header_logo__tablet__menu {
    display: inline-block;
  }
  .header-mobile_menu {
    display: block;
  }
  .header_menu__wrapper {
    margin: 0;
    display: flex;
    padding: 15px 12px;
    background: rgba(245, 245, 250, 0.2);
    justify-content: space-between;
  }
  .header_menu__link {
    display: none;
  }
  .header_menu__link::before {
    display: none;
  }
  .header_menu__mobile {
    display: inline-block;
  }
  .header_menu__bold {
    display: block;
    margin-right: 15px;
  }
  .header_menu__nav {
    display: none;
  }
  .hero_title {
    margin-top: 139px;
    display: block;
    max-width: 315px;
    width: 100%;
  }
  .hero_button {
    margin-top: 150px;
    margin-bottom: 0;
  }
  .hero_menu__link {
    font-size: 30px;
    line-height: 1.23;
  }
  .hero_menu__title {
    font-size: 20px;
    line-height: 1.2;
  }
  .main-title {
    font-size: 30px;
    line-height: 1.23;
  }
  .services_wrapper {
    grid-template-columns: max-content;
    grid-auto-flow: row;
  }
  .services_card {
    max-width: 315px;
  }
  .team_backgr {
    min-width: 315px;
    width: 100%;
  }
  .partners_cards {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }
  .partners_cards__img:nth-of-type(n+7) {
    display: none;
  }
  .publications_wrapper {
    grid-template-columns: 315px;
  }
  .publications_card {
    max-width: 315px;
  }
  .publications_card__img {
    max-width: 315px;
  }
  .publications_card__big {
    max-width: 315px;
    grid-column: 1/2;
    grid-row: 3/3;
  }
  .publications_card__big__img {
    max-width: 315px;
  }
  .publications_card__big__wrapper {
    max-width: 315px;
  }
  .footer {
    position: static;
    justify-content: center;
    align-items: center;
  }
  .footer_contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  .footer_contacts__list {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  .footer_link {
    margin-bottom: 10px;
    display: block;
    margin-right: 0;
  }
  .footer_link__bold {
    display: block;
    margin-bottom: 10px;
    margin-right: 0;
  }
  .footer_link__bold::before {
    display: none;
  }
  .footer_link__bold::after {
    display: none;
  }
  .footer_link__mail {
    display: block;
    margin-bottom: 10px;
    margin-right: 0;
  }
  .footer_ref::before {
    display: none;
  }
  .footer_copyright {
    position: static;
    align-self: center;
    display: block;
  }
}/*# sourceMappingURL=main.css.map */
