$primary-font: 'Montserrat', sans-serif;
.list {
    display: flex;
    align-items: center;
    list-style: none;
}

.footer-wrapper {
    background-color: #F5F5FA;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;

    &_contacts {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &_link {
        margin-right: 26px;
        font-family: $primary-font;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        color: #323264;

        &__bold {
            position: relative;
            margin-right: 26px;
            font-family: $primary-font;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.25;
            color: #46466E;

            &::after {
                content: ''; 
                position: absolute;
                display: inline-block;
                right: -15%;
                top: 35%;
                width: 6px;
                height: 6px;
                background-color: #B3B3BA;
                border-radius: 50%;
            }

            &::before {
                content: ''; 
                position: absolute;
                display: inline-block;
                left: -15%;
                top: 30%;
                width: 6px;
                height: 6px;
                background-color: #B3B3BA;
                border-radius: 50%;
            }
        }

        &__mail {
            margin-right: 26px;
            font-family: $primary-font;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.25;
            color: #24A3FF;

            &:hover {
                color: #F0145A;
            }
        }
    }

    &_ref {
        position: relative;
        font-family: $primary-font;
        font-weight: 700;
        font-size: 12px;
        line-height: 1.25;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #24A3FF;

        &::before {
            content: ''; 
            position: absolute;
            display: inline-block;
            left: -25%;
            top: 20%;
            width: 6px;
            height: 6px;
            background-color: #B3B3BA;
            border-radius: 50%;
        }

    }

    &_img {

        &__svg {
            display: inline-block;
            top: -15%;
           fill: #24A3FF;
           
           &:hover {
            fill: #F0145A;
           }
        }
    }

    &_copyright {
        justify-self: flex-end;
        font-family: $primary-font;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-align: right;
        color: #B3B3BA;
    }
}