* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.link {
  text-decoration: none;
}

.layout {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0px 0px 12px 12px;
}
.layout_wrapper {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}
.layout_wrapper__back {
  position: relative;
  display: block;
  width: 97%;
  height: 10px;
  background: #CACADB;
  border-radius: 0px 0px 12px 12px;
}
.layout_wrapper__back::after {
  content: "";
  position: absolute;
  display: block;
  margin-left: 20px;
  width: 97%;
  height: 20px;
  background: #E7E7F2;
  border-radius: 0px 0px 12px 12px;
  z-index: -1;
}

.header-mobile_menu {
  display: none;
}

.header-hero {
  padding-top: 50px;
  position: relative;
}
.header-hero__symbol {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.bold {
  font-weight: 700;
}

.header {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_logo {
  display: flex;
}
.header_logo__tablet {
  display: none;
}
.header_logo__tablet__menu {
  display: none;
}
.header_logo__img {
  display: block;
  position: relative;
}
.header_logo__slash {
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
}
.header_logo__link {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.22;
  color: #323264;
}
.header_menu {
  display: flex;
  flex-direction: column;
}
.header_menu__lang {
  display: inline-flex;
}
.header_menu__btn {
  display: inline-block;
  padding: 5px 7px;
  width: 33px;
  height: 25px;
  border: none;
  background-color: inherit;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 1px;
  color: #B3B3BA;
  cursor: pointer;
}
.header_menu__btn:hover {
  background: #F5F5FA;
  border-radius: 8px;
}
.header_menu__btn:focus {
  color: #FFFFFF;
  background: #F0145A;
  border-radius: 8px;
}
.header_menu__btn:last-child {
  color: #FFFFFF;
  background: #F0145A;
  border-radius: 8px;
}
.header_menu__contacts {
  display: inline-flex;
}
.header_menu__link {
  display: inline-block;
  position: relative;
  margin-left: 18px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  color: #B3B3BA;
  text-decoration: none;
}
.header_menu__link::before {
  content: "";
  position: absolute;
  display: inline-block;
  top: 25%;
  left: -13px;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  background-color: #E6E6F0;
  border-radius: 50%;
}
.header_menu__link:hover {
  color: #F0145A;
}
.header_menu__svg {
  display: inline-block;
  margin-top: -5px;
  fill: #B3B3BA;
}
.header_menu__svg:hover {
  fill: #F0145A;
}
.header_menu__bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-decoration: none;
  position: relative;
  text-align: right;
  color: #24A3FF;
}
.header_menu__bold::after {
  position: absolute;
  left: 0;
  bottom: -3px;
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #24A3FF;
  opacity: 0;
  transition: all 0.2s ease-in;
}
.header_menu__bold:hover::after {
  opacity: 1;
}
.header_menu__bold:focus {
  color: #F0145A;
}
.header_menu__bold:focus::after {
  opacity: 1;
  background-color: #F0145A;
}
.header_menu__current {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-decoration: none;
  text-align: right;
  position: relative;
  color: #F0145A;
}
.header_menu__current::after {
  position: absolute;
  left: 0;
  bottom: -3px;
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #F0145A;
  z-index: 1;
}
.header_menu__nav {
  display: flex;
  padding-top: 18px;
  justify-content: flex-end;
  gap: 15px;
}

.mobile_container {
  display: none;
}

.team_title {
  display: block;
  margin: 0 auto;
  padding: 60px 0;
  max-width: 1080px;
  width: 100%;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 38px;
  line-height: 1.21;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.team_members {
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px;
}
.team_members__title {
  margin-top: 15px;
  margin-bottom: 5px;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: #323264;
}
.team_members__title:hover {
  color: #F0145A;
}
.team_members__link {
  margin-top: 15px;
  display: inline-block;
  float: right;
  text-decoration: none;
  cursor: pointer;
}
.team_members__btn {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
  background-color: #F5F5FA;
  border: #F5F5FA;
  border-radius: 50%;
  cursor: pointer;
}
.team_members__btn::after {
  content: "";
  position: absolute;
  top: 23%;
  left: 15%;
  width: 13px;
  height: 13px;
  border-right: 2px solid #24A3FF;
  border-top: 2px solid #24A3FF;
  transform: rotate(45deg) scale(0.8);
  animation: animate 1s ease-in-out infinite;
}
@keyframes animate {
  0% {
    transform: translateX(0) rotate(45deg) scale(0.8);
  }
  100% {
    transform: translateX(3px) rotate(45deg) scale(0.9);
  }
}
.team_members__btn:hover::after {
  background-color: #EDEDF7;
  border: #EDEDF7;
  border-right: 2px solid #F0145A;
  border-top: 2px solid #F0145A;
}
.team_members__btn:hover {
  background-color: #EDEDF7;
  border: #EDEDF7;
}
.team_members__descr {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  color: #B3B3BA;
}

.entry {
  display: flex;
  gap: 60px;
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  padding: 60px 0;
}
.entry_img {
  display: inline-block;
  max-width: 400px;
  width: 100%;
  height: 500px;
  background-image: url(../../../images/team/p5.jpg);
  background-position: top;
  background-repeat: no-repeat;
  border-radius: 12px;
  background-size: cover;
}
.entry_descr__wrapper {
  display: block;
  padding-bottom: 30px;
  border-bottom: 4px solid #E6E6F0;
}
.entry_descr__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
}
.entry_descr__text {
  display: block;
  margin: 30px 0;
  max-width: 620px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  color: #000000;
}
.entry_title {
  display: block;
  margin-bottom: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 38px;
  line-height: 1.21;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.entry_text {
  display: inline-block;
  margin-right: 26px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  color: #B3B3BA;
}
.entry_link {
  display: inline-block;
  position: relative;
  margin-right: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #24A3FF;
  text-decoration: none;
  cursor: pointer;
}
.entry_link::before {
  content: "";
  position: absolute;
  display: inline-block;
  top: 35%;
  left: -13px;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  background-color: #E6E6F0;
  border-radius: 50%;
}

.footer-wrapper {
  background-color: #F5F5FA;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}
.footer_contacts {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer_contacts__list {
  display: flex;
  align-items: center;
  list-style: none;
}
.footer_link {
  margin-right: 26px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #323264;
}
.footer_link__bold {
  position: relative;
  margin-right: 26px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: #46466E;
}
.footer_link__bold::after {
  content: "";
  position: absolute;
  display: inline-block;
  right: -15%;
  top: 35%;
  width: 6px;
  height: 6px;
  background-color: #B3B3BA;
  border-radius: 50%;
}
.footer_link__bold::before {
  content: "";
  position: absolute;
  display: inline-block;
  left: -15%;
  top: 30%;
  width: 6px;
  height: 6px;
  background-color: #B3B3BA;
  border-radius: 50%;
}
.footer_link__mail {
  margin-right: 26px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: #24A3FF;
}
.footer_link__mail:hover {
  color: #F0145A;
}
.footer_ref {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
}
.footer_ref::before {
  content: "";
  position: absolute;
  display: inline-block;
  left: -25%;
  top: 20%;
  width: 6px;
  height: 6px;
  background-color: #B3B3BA;
  border-radius: 50%;
}
.footer_img__svg {
  display: inline-block;
  top: -15%;
  fill: #24A3FF;
}
.footer_img__svg:hover {
  fill: #F0145A;
}
.footer_copyright {
  justify-self: flex-end;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-align: right;
  color: #B3B3BA;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
}

.menu__btn {
  display: block;
  position: absolute;
  top: 20px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn__btn {
  display: block;
  top: 70px;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 18px;
  height: 2px;
  background-color: #fff;
  transition-duration: 0.25s;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  max-width: 375px;
  height: 70%;
  margin: 0;
  padding: 120px 0;
  list-style: none;
  background: #323264;
  border-radius: 12px;
  transition-duration: 0.25s;
}

.menu__item {
  display: block;
  margin-bottom: 15px;
  margin-left: 12px;
  padding: 7px 112px;
  background: #F5F5FA;
  border-radius: 12px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  color: #24A3FF;
  transition-duration: 0.25s;
}
.menu__item:hover {
  border-bottom: 0;
  color: #F0145A;
  background: #E6E6F0;
}

@media (min-width: 1700px) {
  .container {
    max-width: 1600px;
  }
  .team_title {
    max-width: 1360px;
  }
  .team_members__img {
    max-width: 494px;
    width: 100%;
  }
  .entry {
    max-width: 1360px;
  }
  .entry_descr__text {
    max-width: 900px;
  }
}
@media (max-width: 1500px) {
  .container {
    max-width: 1280px;
  }
}
@media (max-width: 1400px) {
  .container {
    max-width: 1200px;
  }
  .team_members__img {
    max-width: 350pxpx;
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 1080px;
  }
}
@media (max-width: 1110px) {
  .container {
    max-width: 904px;
  }
  .team_title {
    max-width: 664px;
  }
  .team_members__img {
    max-width: 262px;
    width: 100%;
  }
  .entry {
    max-width: 904px;
  }
  .entry_link::before {
    display: none;
  }
  .entry_descr__text {
    max-width: 544px;
  }
}
@media (max-width: 950px) {
  .container {
    max-width: 648px;
  }
  .header_logo {
    display: none;
  }
  .header_logo__wrapper {
    display: flex;
  }
  .header_logo__link {
    display: inline-block;
  }
  .header_logo__tablet {
    display: inline-block;
    margin: 30px 0;
  }
  .header_menu__nav {
    justify-content: flex-start;
  }
  .team_members {
    grid-template-columns: repeat(2, 294px);
  }
  .team_members__img {
    max-width: 294px;
    height: 400px;
  }
  .entry {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 648px;
  }
  .entry_descr__text {
    max-width: 648px;
  }
  .footer {
    position: relative;
    flex-direction: column;
  }
  .footer_contacts__list li {
    display: inline;
  }
  .footer_link {
    display: inline;
  }
  .footer_copyright {
    position: absolute;
    align-self: flex-end;
    display: inline-block;
  }
}
@media (max-width: 630px) {
  .mobile_container {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
  .mobile_container .header_menu__wrapper {
    display: flex;
    padding: 15px 12px;
    background: #F5F5FA;
    justify-content: space-between;
  }
  .container {
    max-width: 345px;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    background-color: #323264;
  }
  .menu__box {
    background: #FFFFFF;
  }
  .header {
    display: block;
    padding-top: 0;
  }
  .header_logo {
    display: none;
  }
  .header_logo__img {
    max-width: 70px;
    width: 100%;
  }
  .header_logo__slash {
    width: 12px;
    height: 26px;
  }
  .header_logo__link {
    font-size: 20px;
    line-height: 1.2;
  }
  .header_logo__tablet {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 0;
    padding: 0;
  }
  .header_logo__tablet__menu {
    display: inline-block;
  }
  .header-mobile_menu {
    display: block;
  }
  .header_menu__wrapper {
    display: none;
  }
  .header_menu__link {
    display: none;
  }
  .header_menu__link::before {
    display: none;
  }
  .header_menu__mobile {
    display: inline-block;
  }
  .header_menu__bold {
    display: block;
    margin-right: 15px;
  }
  .header_menu__nav {
    display: none;
  }
  .team {
    padding: 0 15px;
  }
  .team_title {
    max-width: 315px;
    font-size: 30px;
    line-height: 1.23;
  }
  .team_members {
    grid-template-columns: 315px;
  }
  .team_members__img {
    max-width: 315px;
    height: 300px;
  }
  .entry {
    max-width: 315px;
  }
  .entry_descr__text {
    max-width: 315px;
  }
  .footer {
    position: static;
    justify-content: center;
    align-items: center;
  }
  .footer_contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  .footer_contacts__list {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  .footer_link {
    margin-bottom: 10px;
    display: block;
    margin-right: 0;
  }
  .footer_link__bold {
    display: block;
    margin-bottom: 10px;
    margin-right: 0;
  }
  .footer_link__bold::before {
    display: none;
  }
  .footer_link__bold::after {
    display: none;
  }
  .footer_link__mail {
    display: block;
    margin-bottom: 10px;
    margin-right: 0;
  }
  .footer_ref::before {
    display: none;
  }
  .footer_copyright {
    position: static;
    align-self: center;
    display: block;
  }
}/*# sourceMappingURL=main.css.map */